/* selector semua element */
* {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-bottom: 14px;
  padding: 16px;
}

.content-box {
  box-sizing: content-box;
}
.border-box {
  box-sizing: border-box;
}

.flex {
  display: flex;
  gap: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.grid .box {
  width: 100%;
}
